.css_cd_cliente__label { }
.css_cd_cliente__line { }
.css_cd_cliente__obj { }
.css_razaosocial__label { }
.css_razaosocial__line { }
.css_razaosocial__obj { }
.css_nomefantasia__label { }
.css_nomefantasia__line { }
.css_nomefantasia__obj { }
.css_cgc__label { }
.css_cgc__line { }
.css_cgc__obj { }
.css_inscricao__label { }
.css_inscricao__line { }
.css_inscricao__obj { }
.css_endereco__label { }
.css_endereco__line { }
.css_endereco__obj { }
.css_cidade__label { }
.css_cidade__line { }
.css_cidade__obj { }
.css_estado__label { }
.css_estado__line { }
.css_estado__obj { }
.css_bairro__label { }
.css_bairro__line { }
.css_bairro__obj { }
.css_cep__label { }
.css_cep__line { }
.css_cep__obj { }
.css_email__label { }
.css_email__line { }
.css_email__obj { }
.css_fone__label { }
.css_fone__line { }
.css_fone__obj { }
.css_fone1__label { }
.css_fone1__line { }
.css_fone1__obj { }
.css_fax__label { }
.css_fax__line { }
.css_fax__obj { }
.css_contato__label { }
.css_contato__line { }
.css_contato__obj { }
.css_enderecocobranca__label { }
.css_enderecocobranca__line { }
.css_enderecocobranca__obj { }
.css_cidadecobranca__label { }
.css_cidadecobranca__line { }
.css_cidadecobranca__obj { }
.css_bairrocobranca__label { }
.css_bairrocobranca__line { }
.css_bairrocobranca__obj { }
.css_estadocobranca__label { }
.css_estadocobranca__line { }
.css_estadocobranca__obj { }
.css_cepcobranca__label { }
.css_cepcobranca__line { }
.css_cepcobranca__obj { }
.css_fonecobranca__label { }
.css_fonecobranca__line { }
.css_fonecobranca__obj { }
.css_faxcobranca__label { }
.css_faxcobranca__line { }
.css_faxcobranca__obj { }
.css_contatocobranca__label { }
.css_contatocobranca__line { }
.css_contatocobranca__obj { }
.css_cgcentrega__label { }
.css_cgcentrega__line { }
.css_cgcentrega__obj { }
.css_inscricaoentrega__label { }
.css_inscricaoentrega__line { }
.css_inscricaoentrega__obj { }
.css_enderecoentrega__label { }
.css_enderecoentrega__line { }
.css_enderecoentrega__obj { }
.css_cidadeentrega__label { }
.css_cidadeentrega__line { }
.css_cidadeentrega__obj { }
.css_bairroentrega__label { }
.css_bairroentrega__line { }
.css_bairroentrega__obj { }
.css_estadoentrega__label { }
.css_estadoentrega__line { }
.css_estadoentrega__obj { }
.css_cepentrega__label { }
.css_cepentrega__line { }
.css_cepentrega__obj { }
.css_foneentrega__label { }
.css_foneentrega__line { }
.css_foneentrega__obj { }
.css_contatoentrega__label { }
.css_contatoentrega__line { }
.css_contatoentrega__obj { }
.css_contatoexpedicao__label { }
.css_contatoexpedicao__line { }
.css_contatoexpedicao__obj { }
.css_foneexpedicao__label { }
.css_foneexpedicao__line { }
.css_foneexpedicao__obj { }
.css_datacadastro__label { }
.css_datacadastro__line { }
.css_datacadastro__obj { }
.css_obs__label { }
.css_obs__line { }
.css_obs__obj { }
.css_tipo__label { }
.css_tipo__line { }
.css_tipo__obj { }
.css_consumidor__label { }
.css_consumidor__line { }
.css_consumidor__obj { }
.css_licensa__label { }
.css_licensa__line { }
.css_licensa__obj { }
.css_venctolicensa__label { }
.css_venctolicensa__line { }
.css_venctolicensa__obj { }
.css_licensa1__label { }
.css_licensa1__line { }
.css_licensa1__obj { }
.css_venctolicensa1__label { }
.css_venctolicensa1__line { }
.css_venctolicensa1__obj { }
.css_qtdeliberada__label {text-align:;}
.css_qtdeliberada__line {text-align:left;}
.css_qtdeliberada__obj {text-align:left;}
.css_licensa2__label { }
.css_licensa2__line { }
.css_licensa2__obj { }
.css_venctolicensa2__label { }
.css_venctolicensa2__line { }
.css_venctolicensa2__obj { }
.css_icms__label {text-align:;}
.css_icms__line {text-align:left;}
.css_icms__obj {text-align:left;}
.css_suframa__label { }
.css_suframa__line { }
.css_suframa__obj { }
.css_limitecredito__label {text-align:;}
.css_limitecredito__line {text-align:left;}
.css_limitecredito__obj {text-align:left;}
.css_vendedor__label { }
.css_vendedor__line { }
.css_vendedor__obj { }
.css_restricao__label { }
.css_restricao__line { }
.css_restricao__obj { }
.css_comissao__label {text-align:;}
.css_comissao__line {text-align:left;}
.css_comissao__obj {text-align:left;}
.css_transportadora__label { }
.css_transportadora__line { }
.css_transportadora__obj { }
.css_coleta__label { }
.css_coleta__line { }
.css_coleta__obj { }
.css_segmento__label {text-align:;}
.css_segmento__line {text-align:left;}
.css_segmento__obj {text-align:left;}
.css_dataalteracao__label { }
.css_dataalteracao__line { }
.css_dataalteracao__obj { }
.css_usuario__label { }
.css_usuario__line { }
.css_usuario__obj { }
.css_requisitos__label { }
.css_requisitos__line { }
.css_requisitos__obj { }
.css_banco__label { }
.css_banco__line { }
.css_banco__obj { }
.css_emailcobranca__label { }
.css_emailcobranca__line { }
.css_emailcobranca__obj { }
.css_emailtecnico__label { }
.css_emailtecnico__line { }
.css_emailtecnico__obj { }
.css_midia__label { }
.css_midia__line { }
.css_midia__obj { }
.css_seg__label { }
.css_seg__line { }
.css_seg__obj { }
.css_ter__label { }
.css_ter__line { }
.css_ter__obj { }
.css_qua__label { }
.css_qua__line { }
.css_qua__obj { }
.css_qui__label { }
.css_qui__line { }
.css_qui__obj { }
.css_sex__label { }
.css_sex__line { }
.css_sex__obj { }
.css_certificado__label { }
.css_certificado__line { }
.css_certificado__obj { }
.css_emailnfe__label { }
.css_emailnfe__line { }
.css_emailnfe__obj { }
.css_fundacao__label { }
.css_fundacao__line { }
.css_fundacao__obj { }
.css_site__label { }
.css_site__line { }
.css_site__obj { }
.css_financeiro__label { }
.css_financeiro__line { }
.css_financeiro__obj { }
.css_numero__label { }
.css_numero__line { }
.css_numero__obj { }
.css_complemento__label { }
.css_complemento__line { }
.css_complemento__obj { }
.css_razaosocialentrega__label { }
.css_razaosocialentrega__line { }
.css_razaosocialentrega__obj { }
.css_entrega__label { }
.css_entrega__line { }
.css_entrega__obj { }
.css_contatotecnico__label { }
.css_contatotecnico__line { }
.css_contatotecnico__obj { }
